#game {
  display: flex;
  justify-content: center;
  height: 93.9vh;
  background-color: var(--dark-felt);
  color: white;
}

#game h1 {
  padding-left: 5%;
  /* padding-top: 1%; */
}

#players {
  display: flex;
  justify-content: center;
}

#game button {
  background-color: var(--light-felt);
  color: white;
  transition-duration: 0.4s;
  border: none;
  border-radius: 5px;
  margin-left: 5%;
  overflow: visible;
  white-space: nowrap;
  padding: 10px 20px;
}

#game button:hover {
  background-color: var(--billiards-wood);
  color: white;
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

.die {
  height: 60px;
  width: 60px;
}