/* Color Palette: https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51 */
:root {
    --grey: #264653;
    --aqua: #2A9D8F;
    --light-yellow: #E9C46A;
    --light-orange: #F4A261;
    --orange: #E76F51;


    --dark-felt: #012626;
    --felt: #027368;
    --light-felt: #0AA696;
    --cue: #D9D5A3;
    --billiards-wood: #846B51;
}