#winnerPodium {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 75px;
    padding-bottom: 2%;
}

#winnerPodium h2 {
    margin-left: -24%;
}

#winnerPodium img{
    margin-left: -20%;
}

#others {
    margin-left: 5%;
    background-color: #58a5f0;
    width: 8%;
    text-align: right;
    padding-right: 1%;
}