#foot {
    background-color: var(--orange);
    color: #ffffff;
    font-size: 15pt;
    height: 3vh;
    min-height:1.4em;
}

.fLink {
    color: #ffffff;   
    margin-right: 1%;
    text-decoration: none;
}

.fLink:hover {
    color: var(--aqua);
}

#first{
    margin-left: 40%;
}