nav {
    background-color: var(--felt);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3vw;
}

#brand {
    color: #ffffff;
    font-size: 200%;
    text-decoration: none;
    margin-left: 3%;
    font-weight: 700;
}

.links, .links:visited {
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

#aboutLink {
    margin-right: 3%;
}

.links:hover, #brand:hover {
    color: var(--cue);
}


