#header {
    background-color: #004c8c;
    margin-bottom: 2%;
    font-family: 'Bitter', serif;
}

#brand {
    color: #ffffff;
    font-size: 200%;
    text-decoration: none;
    margin-left: 10%;
}

.links, .links:visited {
    color: #ffffff;
    margin-left: 15%;
}
