.preGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}



.join {
    /* padding-top: 20px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.join h2 {
    font-weight: 700;
}

.preGame hr {
    border: 2px solid var(--cue);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.hostInput, .joinInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.join label {
    overflow: hidden;
    white-space: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}

.join input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}


#pLog {
    margin-top: 10px;
}