#join {
    background-color: #0277bd;
    color: white;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
}

#jInput {
    display: flex;
}

#jInput h4 {
    margin-left: 1%;
}

#jInput input {
    float: left;
    margin-left: 10px;
}

#jInput button {
    margin-top: 5px;
    height: 28px;
    width: 55px;
    margin-left: 10px;
    background-color: #004c8c;
    color: white;
    transition-duration: 0.4s;
    border: none;
    border-radius: 3px;
}

#jInput button:hover {
    background-color: #58a5f0;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#pLog {
    margin-top: 10px;
}