.notificationContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1%;
    overflow: auto;
}

.notification {
    overflow: auto;
    display: flex;
    flex-direction: column;
    min-height: min-content;
    flex: 1;
}

.notification p {
    margin: 7px;
    font-size: 110%;
}


.chatInput {
    display: flex;
    flex-direction: row;
}

.chatInput input {
    flex: 9;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    font-size: 120%;
}

.chatInput img {
    flex: 1;
    height: 30px;
    width: 30px;
    aspect-ratio: 1;
}

.chatInput img:hover {
    cursor: pointer;
}



/* width */
.notification::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.notification::-webkit-scrollbar-track {
    background: var(--dark-felt);
}

/* Handle */
.notification::-webkit-scrollbar-thumb {
    background: var(--cue)
}

/* Handle on hover */
.notification::-webkit-scrollbar-thumb:hover {
    background: var(--billiards-wood);
}