#notification {
    color: white;
    margin-left: 5%;
    border-color: #004c8c;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    padding: 5px;
    width: 85%;
    margin-bottom: 10;
}