.notification {
    margin-left: 5%;
    border: 5px solid var(--grey);
    border-radius: 5px;
    padding: 5px;
    width: 85%;
    margin-bottom: 10;
    height: 200px;
    overflow: auto;
    background-color: var(--orange);
}

/* width */
.notification::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.notification::-webkit-scrollbar-track {
    background: var(--orange);
}

/* Handle */
.notification::-webkit-scrollbar-thumb {
    background: var(--aqua)
}

/* Handle on hover */
.notification::-webkit-scrollbar-thumb:hover {
    background: var(--grey);
}