#oponent {
    background-color: #0277bd;
    color: white;
    padding-left: 5%;
    padding-bottom: 5%;
}

#oponent img {
    height: 60px;
    width: 60px;
}

#oponent button {
    margin-top: 5px;
    height: 28px;
    margin-left: 10px;
    background-color: #004c8c;
    color: white;
    transition-duration: 0.4s;
    border: none;
    border-radius: 3px;
}

#oponent button:hover {
    background-color: #58a5f0;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}