#opponent {
    color: white;
    padding-left: 5%;
    padding-bottom: 5%;
}

#opponent img {
    height: 60px;
    width: 60px;
}

#opponent button:hover {
    background-color: #58a5f0;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#opponent .turn {
    color: red;
    font-weight: bold;
}