.opponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: 4px solid var(--grey);
}

.opponent img {
    height: 70px;
    width: 60px;
}

.opponentName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.turn {
    border-color: var(--aqua);
}