.opponents {
    display: flex;
    justify-content: center;
}


.opponent {
    padding: 5px;
    background-color: var(--felt);
    height: 110px;
    width: 100px;
    text-align: center;
    margin: 10px;
}

.opponent h3 {
    margin: 0;
    /* padding-bottom: 10px; */
    margin-bottom: 25px;

}

.opponentCup {
    display: flex;
    background-color: var(--light-felt);
    height: 78px;
    width: 78px;
    transform: rotateY(0deg) rotate(45deg);
    margin: auto;
}

.opponentCup img {
    transform: rotate(-45deg);
    height: 40px;
    width: 40px;
    margin: auto;
}

.turn {
    border-color: var(--aqua);
}