.playerFooter {
    display: flex;   
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--felt);
    align-items: center;
    padding: 10px;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
}

.playerFooter h4 {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.playerFooter button {
    padding: 5px 10px !important;
}

.playerFooterInfoContainer {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 40px;
}

.info h3, p {
    margin: 0;
}

.info p {
    font-style: italic;
}

.playerFooterButtons {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.playerFooterButtons button {
    font-weight: bold;
    font-size: 110%;
}

.startRound {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.startRound .error {
    font-size: 110%;
    overflow: visible;
    white-space: nowrap;
    color: red;
    font-weight: bold;
    background-color: var(--light-felt);
    border-radius: 5px;
    padding: 5px 10px !important;
    margin: 0;
}

.playerFooter button:hover {
    background-color: var(--orange) !important;
}