.playerHeader {
    display: flex;   
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--aqua);
    align-items: center;
    padding: 5px;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
}

.playerHeader h4 {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.playerHeader button {
    padding: 5px 10px !important;
}

.startRound {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.startRound .error {
    overflow: visible;
    white-space: nowrap;
    color: red;
    font-weight: bold;
    background-color: var(--grey);
    border-radius: 5px;
    padding: 5px 10px !important;
    margin: 0;
}

.playerHeader button:hover {
    background-color: var(--orange) !important;
}